<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.zn/thymeleaf/layout" layout:decorate="user/layout/basic">
	<th:block layout:fragment="title">
		<title>This is a register page</title>
	</th:block>
	
	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal" th:action="@{/user/register.do}" th:object="${user}" method="post" onsubmit="return registerUser(this)">
				<input type="hidden" th:if="*{id != null and id > 0}" th:field="*{id}" />
				
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">아이디</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{email}" class="form-control" placeholder="email" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="passwd" class="col-sm-2 control-label">비밀번호</label>
					<div class="col-sm-10">
						<input type="password" th:field="*{passwd}" class="form-control" placeholder="password" />
					</div>
				</div>
				
				<div class="btn_wrap text-center">
					<a th:href="@{/index.do}" class="btn btn-default waves-effect waves-ligit">뒤로가기</a>
					<button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>
			</form>
		</div>
	</th:block>
	
	<th:block layout:Fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
				
				function login(form) {
				
					var result = (
						   isValid(form.email, "아이디", null, null)
						&& isValid(form.passwd, "비밀번호", null, null)
					);
					if( result == false ) {
						return false;
					}
				}
			/*]]>*/
			
		</script>
	</th:block>
</html>